{% extends 'base.html' %}

{% block title %}
Reviewer - Home
{% endblock title %}
{% block content%}
<header>
    <nav>
    </nav>
</header>
<main>
    <div class="home">
        <h1>What Would You Like to Study?</h1>
        <table>
            <thead>
                <th>Study Sets</th>
                <th>Subject</th>
                <th>Cards</th>
                <th>Studied?</th>
            </thead>
            <tbody>
                {% for item in category_list.all %}
                <tr>
                    <td><a href="{% url 'show_set' item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.subject }}</td>
                    <td>{{ item.cards.all|length }}</td>
                    <td>{{ item.studied|yesno:"Done!,Not Yet!,N/A" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
