{% extends 'base.html' %}

{% block title %}
Reviewer - Home
{% endblock title %}
{% block content%}
<header>
    <nav>
      {% if user.is_authenticated %}
      <span>Hello, {{ user.username}} </span>
      <a href="{% url 'create_set'%}">Create A Set</a>
      <a href="{% url 'user_logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'signup' %}">Sign up</a>
      <a href="{% url 'user_login' %}">Login</a>
      {% endif %}
    </nav>
</header>
<main>
    {% if user.is_authenticated %}
    <div class="home">
        <h1>What Would You Like to Study?</h1>
        <table>
            <thead>
                <th>Study Sets</th>
                <th>Subject</th>
                <th>Cards</th>
                <th>Studied?</th>
            </thead>
            <tbody>
                {% for item in category_list.all %}
                <tr>
                    <td><a href="{% url 'show_set' item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.subject }}</td>
                    <td>{{ item.cards.all|length }}</td>
                    <td>{{ item.studied|yesno:"Done!,Not Yet!,N/A" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else%}
            <div>Create and Account or Login to view sets!</div>
        {% endif %}
    </div>
</main>
{% endblock content %}
