{% extends 'base.html' %}

{% block title %}
Reviewer - Home
{% endblock title %}
{% block content%}
<header>
    <nav>
        <a href="{% url 'home' %}"><button>Home</button></a>
        <a href="{% url 'create_card' %}"><button>Create a Card!</button></a>
    </nav>
    <h1>{{ category.name }}</h1>
    <p>{{ category.subject}}</p>
    <p>Cards in set: {{ set.all|length }}</p>

</header>
<main>
    <h1>Flash Card Interface TBD!</h1>
    <div class="card">
    {% for card in set %}
        {% include "cards/card.html" %}
    {% endfor %}
    </div>
</main>
{% endblock content %}
